<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy/MM/dd HH:mm:ss} [%p]\\(%method %F:%L\\) - %msg%n%throwable{8}"/>
    <property name="DIGITAL_LOG_PATTERN" value="%d{yyyy/MM/dd HH:mm:ss} [%p]\\(%method %F:%L\\) - %msg%n%throwable{8}"/>
    <!-- <property name="LOG_FILE" value="/scotia/apps/imagine-api/email-web-debug"/> -->

    <appender name="ROLLING-FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${DIGITAL_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DIGITAL_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING-FILE-ERROR"/>
    </root>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.boot.web.support.ErrorPageFilter" level="OFF"/>
    <logger name="com.mplescano.webapp.emailweb" level="DEBUG"/>
</configuration>